{% extends 'base/baseusuario.html' %}
{% load cart_tags %}

{% block content %}
    <br><br>
    <center><h3>PRODUCTOS MAS VENDIDOS</h3>
    {% for post in object_list %}
    <div class="blockPost">
        <img src="{{ post.imagen.url }}" alt="" class="imgPost">

        <a href="{% url 'DetalleProducto' post.pk %}"><h5 class="text-center">{{ post.nombre }}</h5></a>
        <div class="marcoPost">
            <p class="textPost text-justify">{{ post.texto_corto }}</p>
        </div>
        <h5 class="text-center"><label>Precio:&nbsp;$</label>{{ post.precio }}</h5>
        {% if post.avalible %}
        <label>Stock:&nbsp;</label><small>Disponible</small>
        {% else %}
        <label>Stock:&nbsp;</label><small>Por encargo</small>
        {% endif %}
        <a href="{% url 'carrito:add_product' post.pk %}">Añadir al carrito</a>
        
    </div>
    {% endfor %}

    <div class="col-3">
        {% include "cart/widget.html" %}
    </div>
    </center>
{% endblock %}