{% load static %}
<!DOCTYPE html>
<html lang="es-AR">
<head>
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">
  <!-- ................................................................................................. -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChacoFeria</title>
    <!-- Estilos css Bootstrap -->
    {% block css%}
    <link rel="icon" href="{% static 'chacoferia.ico' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/acordeon.css' %}">
    <link rel="stylesheet" href="{% static 'css/registrousu.css' %}">
    <link rel="stylesheet" href="{% static 'css/categorias.css' %}">
    <link rel="stylesheet" href="{% static 'css/tienda.css' %}">
    {% endblock %}
</head>
<body class="table-success">
    <div class="container">
        <header class="bg-success">
            <!-- Aquí colocamos una separacion entre el margen top y el header -->
            <div class="nav-item">&nbsp;</div>
            <!-- Aquí llamamos al logo -->
            {% block logo %}
            <img class="logo" src="{% static "chacoferia.png" %}" alt=""><br>
            {% endblock%}
            <div class="session">
              <span class="text-warning">Bienvenido! {{request.user.first_name}} {{request.user.last_name}}</span>
                    &nbsp;&nbsp;
              <a class="btn btn-sm btn-outline-warning ini" href="{% url 'logout' %}">Cerrar Sesion</a>                    
            </div>
            <nav class="navbar navbar-light bg-sucess float-right">
              {% block buscar %}
                <form class="form-inline" method="get" action="{% url 'Search' %}">
                    <input name="buscar" class="form-control mr-sm-2" type="search" placeholder="Buscar..." aria-label="Search">
                    <button class="btn btn-outline-warning my-2 my-sm-0 busc" type="submit">Buscar...</button>
                </form>
              {% endblock %}
            </nav>
            <!-- Barra de navegación -->
            <div class="menu navbar-expand-lg navbar-dark bg-dark">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
              {% block nav %}
                <ul class="navbar-nav text-center">
                    <li class="nav-item">{% block nav-inicio %}<a class="nav-link text-light" href="{% url 'home' %}">INICIO</a>{% endblock %}</li>
                    <li class="nav-item">{% block nav-categoria %}<a class="nav-link text-light" href="{% url 'CategoriasPrincipal' %}">CATEGORIAS</a>{% endblock %}</li>
                    <li class="nav-item">{% block nav-tiendas %}<a class="nav-link text-light" href="{% url 'Tienda' %}">TIENDAS</a>{% endblock %}</li>
                    <li class="nav-item">{% block nav-publicaciones %}<a class="nav-link text-light" href="{% url 'Publicaciones' %}">PUBLICACIONES</a>{% endblock %}</li>
                    <li class="nav-item">{% block nav-ayuda %}<a class="nav-link text-light" href="{% url 'Ayuda' %}">AYUDA</a>{% endblock %}</li>
                    <li class="nav-item">{% block nav-about %}<a class="nav-link text-light" href="{% url 'About' %}">¿QUE ES CHACOFERIA?</a>{% endblock %}</li>
                </ul>
              {% endblock %} 
              </div>          
            </div>
        </header>

        {% block content %}

        {% endblock %}

    </div>
    <!-- Script usados por Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
</html>
