{% extends 'base/base.html' %}
{% block content %}
          <section class="form-ayuda">
            <h4 class="text-dark">SELECCIONA EL TIPO DE AYUDA QUE NECESITES</h4>
            <div class="container">
              <div class="accordion" id="accordionExample">
                <div class="card iphone">
                  <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                      <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Cómo realizar tu primer Publicación?
                      </button>
                    </h2>
                  </div>
              
                  <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body"> 
                      Si jamás vendiste algo por Internet, Chaco Feria es el lugar perfecto para dar los primeros pasos y garantizarte una buena experiencia. La clave está en aprender el proceso y atender algunos consejos que pueden ayudarte a resolver mejor la operación. El punto de partida es crear una cuenta en Chaco Feria Te contamos cómo.
                      1 Entrá en (link logan) y seleccioná la opción Regístrate 
                      2 Para registrarte como persona individual: Ingresá Nombre / Apellido / Mail, creá una clave y hacé clic en registrarme.
                      3 Ingresá a tu cuenta y hacé clic en la opción Vender.
                      4 Selecciona entre Productos, Escribí un título para tu publicación, Seleccioná la categoría de tus productos, Seleccioná la categoría de tu producto.
                      5 Ingresá fotos de tu producto, Completá la ficha técnica (podras describir caracterisiticas de tu producto)
                      6 Ingresa el precio de tu producto. 
                      
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                      <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Cómo realizar tu primer compra?
                      </button>
                    </h2>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                      Al momento de elegir el producto de la lista, se debe tomar en cuenta las características que describe el vendedor, recordando siempre que Chaco Feria cuenta con la posibilidad de escoger entre varios ejemplares.
                      Para seleccionarlo, entre en el vínculo de éste. Se podrá observar que habrá una variación en la pantalla pudiendo encontrar en ésta las fotos que revelan el producto con los detalles sobre la compra como contactos, e-mail y la ubicación del vendedor para que verifiques si queda cercano a tu residencia.
                      Se visualizara junto al producto el perfil de la persona que publicó el producto que seleccionó, pudiendo ver las ventas anteriores, el tiempo, su reputación. Tomar en cuenta estas recomendaciones es de vital importancia para evitar estafas. Luego confirmar el producto seleccionado para ejecutar la compra.
                      Encontrará las formas en que se puede realizar su pago, la cual varía dependiendo del vendedor. Con los contactos habilitados podrá ponerse en línea con el vendedor para llegar a un acuerdo con él.

                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                      <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                         Cómo garantizar el éxito del comercio en línea?
                      </button>
                    </h2>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                      No basta con subir una imagen de tus productos, la clave en el sitio web es hacer un call to action (llamar a la acción). Tener tu misión y visión es valioso en términos informativos, pero la gente lee poco en general, así que el reto es tener otro tipo de detonante para crear la compra. Tipos de incentivos: promociones (por temporada), envío gratuito, complementos u obsequios, reembolsos, puntos de lealtad, alternativas de pago, meses sin intereses, por citar algunos. 
                    </div>
                  </div>
                </div>
              </div>
        </section>
{% endblock %}
    

   
